.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: #8abecc;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.download-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.default-table-with {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.white-subtitle {
  color: #c9c9c9;
  margin-top: 20px;
}

.button-default-size{
  width: 200px;
}

.button-long-size{
  width: 300px;
}